/* Navigation */
.navigation {
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: blue;
}

/* Header */
.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Main Content */
.main-content {
  max-width: 800px;
  margin: 20px auto;
}

.content {
  padding: 0 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container div {
  width: 48%;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #fc8eac; /* Light pink background */
  color: white; /* White text color */
}
.main ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  text-align: center;
  background-color: #fc6c85; /* Light pink background */
  color: white; /* White text color */
}

.main ul li {
  display: inline;
  margin-right: 10px;
}

.main ul li a {
  color: white;
  text-decoration: none;
}

.main ul li a:hover {
  text-decoration: underline;
}

.main a:hover {
  text-decoration: underline;
}

.main h1 {
  color: #ff007f;
}

img.profile-picture {
  display: block;
  margin: 20px auto;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.main h2 {
  color: #ff007f;
}
.main p {
  color: #f7f5bc;
}

.resume-navigation {
  text-align: center;
}

.resume-navigation {
  list-style-type: none;
  padding: 0;
}

.resume-navigation ul li {
  display: inline;
  margin-right: 10px;
}

.resume-navigation ul li a {
  text-decoration: none;
  color: blue;
}
.overall{
  background-color: white;
  color: black
}